#carouselExampleIndicators {
  width: 100vw;
  height: calc(100vh - 72px);
  overflow: hidden;
}
.carousel-item {
  overflow: hidden;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-control-prev,
.carousel-control-next,
.carousel-control-prev:hover,
.carousel-control-next:hover,
.carousel-control-prev:focus,
.carousel-control-next:focus {
  opacity: 0;
  filter: alpha(opacity=0);
}

@media screen and (max-width: 991px) {
  #carouselExampleIndicators {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}
