.forget_pass-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #9f9f9f;
}

.forget_pass-wrap {
  display: flex;
  position: relative;
  width: 80%;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 8px;
  padding: 6px;
}

.forget_pass-left {
  width: 50%;
}

.forget_pass-left img {
  width: 100%;
  height: auto;
}

.forget_pass-form {
  width: 50%;
  padding: 20px;
  border-left: 1px solid #ccc;
}

@media screen and (max-width: 768px) {
  .forget_pass-wrap {
    flex-direction: column;
    width: 100%;
  }

  .forget_pass-form {
    width: 100% !important;
    border: none !important;
  }
}

.form-group input {
  width: 100%;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  margin-bottom: 10px;
}

.form-group input[type="password"] {
  position: relative;
}

.form-group input[type="password"] i {
  position: absolute;
  top: 4px;
  right: 4px;
}

.btn-forget_pass {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 4px;
  background-color: #7b5bd4;
  color: #fff;
  cursor: pointer;
}

.btn-forget_pass:hover {
  background-color: #5e3ebf;
}

.forget_pass-social {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.social-icons {
  display: flex;
  gap: 6px;
}
.social-icons img:hover {
  opacity: 0.9;
}

.forget_pass-login {
  margin-left: 4px;
  color: #7b5bd4;
  text-decoration: none;
}

.forget_pass-login:hover {
  color: #5e3ebf;
  text-decoration: underline;
}

.forget_pass-close {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  font-size: 24px;
}

.forget_pass-close:hover {
  color: #5e3ebf;
}
